.container {
    width: 100%;
    max-width: 968px;
    height: 780px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 500px;
    /* height: 800px; */
}

header{



}

.back {
    height: 30px;
    width: 30px;
    
}

.dia_e_hora {
color: black;
display: flex;
flex-direction: column;

}

.forecast-day{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

img{
    width: 48px;
}

h3 {
    color: white;
}

.day1, .day2 {
    display: flex;
    flex-direction: column;
    column-gap: 12px;
}
