/* Estilos do container */
.container {
  flex: 1;
  background-image: linear-gradient(#7dd3fc, #3c5c6b);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-image 0.3s ease-in;
}

/* Header */
header {
  background-color: #144064;
  color: white;
  width: 100%;
  padding: 16px 32px;
  align-items: center;
}

.nav-bar {
  width: 100%;
  font-size: 10px;
  
}


.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav-bar a {
  
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* Seção Main */
main {
  max-width: 1120px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;

}

.title h1{
  padding: 20px 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 16px;
}

.form-body input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Botões */
#detalhes-btn, #favoritos-a{
  background-color: #205375;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 13px;
}

#detalhes-btn:hover, #favoritos-a:hover{
  background-color: #4c90af;
}

#botao-busca, #botao-favorito{
  padding: 10px 20px;
  background-color: #4c90af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#botao-busca:hover, #botao-favorito:hover{
  background-color: #205375;
}

/* Estilos para h2 */
h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

/* Seção de Temperatura Principal */
#TempAuto {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
}

/* Ajuste da div conteudo */
.conteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  transition: transform 0.3s ease-in-out;
}

.conteudo>div {
  flex: 1 1 45%;
  justify-content:center;
  padding: 10px;
}

.conteudo:hover {
  transform: scale(1.05);
}

/* Ícone de clima */
#icon {
  display: block;
  max-width: 100px;
  margin: 0 auto 15px auto;
}

/* Previsão estendida */
.forecast-day {
  margin: 10px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  width: 160px;
  
}

.forecast-day:hover {
  transform: scale(1.05);
}

.forecast-day img {
  width: 50px;
  height: 50px;
}

#previsao-cinco-dias {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
