.container {
  flex: 1;
  background-image: linear-gradient(#7dd3fc, #0ea5e9);

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: #326492;
  color: white;
  width: 100%;
  padding: 16px 32px;

  display: flex;
  align-items: center;
}

.nav-bar {
  width: 100%;
}
.nav-bar ul {
  display: flex;
  align-items: center;
  gap: 24px;
}
.nav-bar li {
  display: inline;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

.nav-bar a:hover {
  text-decoration: underline;
}

main {
  margin-top: 32px;
  max-width: 1120px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
}

.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  margin-bottom: 16px;
}

.form-body input[type="text"] {
  flex: 1;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #4c90af;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #205375;
}

h2 {
  color: #333;
}

.conteudo div {
  margin-bottom: 20px;
}
.conteudo {
  background-color: #f5f5f5;

  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  padding: 30px;
  border-radius: 8px;
}
